body,h1.h2,h3,h4,h5,h6,p{
    font-family: 'Cairo', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
.mogachoda span{
    color: rgb(255, 255, 255);
    background-color: #6278df;
    height: 43px;
    width: 40px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
}
.slider-section{
    background: url(./Employees\ Hero.jpg) no-repeat center center;
    padding: 160px 0px;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 21, 255, 0.2);
    z-index: -1;
}
.mogachoda .navbar-brand{
    font-weight: 600;
}
.saif-menu{

}
.number-count .h2{
    font-size: 70px;
}
.number-count p{
    font-size: 20px;
}
.about-text-left p{
    font-size: 20px;
    line-height: 1.8rem;
}
.about-section{
    background-image: linear-gradient(skyblue, pink);
}
.rounded{
    box-shadow: 5px 5px 20px 3px rgb(203, 223, 230);
}
.left-img{
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0px 0px 5px;

}
.left-img img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -375px;
}
.right-text{
    width: 60%;
    padding: 25px;
}
.app-item{
   
    box-shadow: 4px 5px 30px #6278df ;
    
}


.app-future-imgs img{
    width: 450px;
    height: 250px;
}
.app-future-imgs a{
    position: relative;
    display: block;
}
.app-future-imgs a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #6279df83;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

}
.app-future-imgs:hover a::after{
    opacity: 1;
    visibility: visible;
}
.pricing-table-section{
    background-image: linear-gradient(rgb(164, 221, 244), rgb(250, 225, 229));
}
.t-s h1{
    font-size: 60px;
}
.t-s h5{
    font-size: 25px;
}
.box-s{
    box-shadow: 5px 5px 20px 3px rgb(203, 223, 230);
}
.pricing-table{
    margin-left: 30px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
}
.pricing-table h1{
    font-size: 50px;
    
}
.pricing-table h5{
    font-size: 30px;
    padding-bottom:30px ;
}
.ricing-table-item{}
.ricing-table-item ul{}
.ricing-table-item ul li{
    font-size: 30px;
    margin-left: 20px;
    
}
.ricing-table-item ul li span{
    display: inline-block;
    color: #6278df;
    font-size: 40px;
    width: 70px;
    font-weight: 900;
   
}
.author-info img{
    width: 80px;
    margin-right: 20px;
}
.author-info{
    width: 210px;
    margin: auto;
}
.user-details{
    position: relative;
    top: 10px;
    text-align: left;

}
.team-section .card img{
    width:140px;
    height: auto;
    margin-top: -70px;
    margin-left: 40px;
}
.team-section{
    margin-top: 250px;
    margin-left: 70px;
   
}
.min-bg-c{
    background-image: linear-gradient(rgb(228, 245, 221), rgb(212, 251, 255));
}
.min-bg-d{
    background-image: linear-gradient(rgb(255, 231, 245), rgb(212, 255, 241));
}